.measure-wide {
    max-width: 80% !important;
    text-align: left;
}

body{
    display: flex;
    height: 100vh;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

.pb7 {
    padding-bottom: 0rem;
}

.mt5 {
    margin-top: 0rem;
}

@media screen and (min-width: 60em) {
    .pv6-l {
        padding-top: 0rem;
        padding-bottom: 1rem;
    }
}
@media screen and (min-width: 30em) {
    .ph4-ns {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
.ph3 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.pv4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

@media screen and (min-width: 60em) {
    .f-5-l, .f-subheadline-l {
        font-size: 4rem;
    }
}

@media screen and (min-width: 60em) {
    .f3-l {
        font-size: 2.25rem;
    }
}

h1 {
    font-size: 2em;
    margin: 0;
}