.measure-wide {
    max-width: 65ch;  /* Optimized for readability */
    text-align: left;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

/* ❌ REMOVE: .pb7 { padding-bottom: 0rem; } */

.mt5 {
    margin-top: 0rem;
}

@media screen and (min-width: 60em) {
    .pv6-l {
        padding-top: 4rem;      /* ✅ Changed from 0rem */
        padding-bottom: 4rem;   /* ✅ Changed from 1rem */
    }
}

@media screen and (min-width: 30em) {
    .ph4-ns {
        padding-left: 2.5rem;   /* ✅ Changed from 2rem */
        padding-right: 2.5rem;
    }
}

@media screen and (min-width: 60em) {
    .ph4-ns {
        padding-left: 4rem;     /* ✅ Added new rule */
        padding-right: 4rem;
    }
}

.ph3 {
    padding-left: 1.5rem;       /* ✅ Changed from 1rem */
    padding-right: 1.5rem;
}

.pv4 {
    padding-top: 3rem;          /* ✅ Changed from 2rem */
    padding-bottom: 3rem;
}

@media screen and (min-width: 60em) {
    .f-5-l, .f-subheadline-l {
        font-size: 3rem;        /* ✅ Changed from 4rem */
    }
}

@media screen and (min-width: 60em) {
    .f3-l {
        font-size: 2rem;        /* ✅ Changed from 2.25rem */
    }
}

h1 {
    font-size: 2.5em;           /* ✅ Changed from 2em */
    margin: 0;
}

h2 {
    font-size: 1.75em;          /* ✅ Added new rule */
}
